@import '../Fonts.module.scss';

.container {
    width: 100vw;
    height: 100vh;
    background-color: #fff;
    display: flex;
    justify-content: space-between;


    &_col1 {
        height: 100vh;
        width: 100%;
        max-width: 473px;
        position: relative;

        &_picReverse {
            position: absolute;
            left: 0px;
            bottom: 49px;
            width: 100%;
            height: 154px;
            rotate: 180deg;
        }
    }

    &_col2 {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 720px;
        width: 100%;
        height: 100vh;

        &_oggetto {
            width: 400px;
            height: 400px;
            flex-shrink: 0;
            margin-top: 50px;
        }

        &_input {
            width: 100%;
            height: 50px;
            margin-top: 40px;
            border-radius: 25px;
            border: 1px solid var(--black, #131313);

            color: rgba(19, 19, 19, 0.30);
            font-family: "Montserrat-Regular";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &_btn {
            display: flex;
            width: 100%;
            max-width: 560px;
            justify-content: center;
            align-items: center;
            border-radius: 50px;
            border: 1px solid var(--yelllow, #FD0);
            margin-top: 50px;


            color: var(--black, #131313);
            text-align: center;
            font-family: "Montserrat-Regular";
            font-size: 36px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }

        &_btn2 {
            display: flex;
            max-width: 560px;
            width: 100%;
            height: 100px;
            border-radius: 50px;
            background: #4285F4;
            align-items: center;
            justify-content: space-between;
            border: none;


            &_pic {
                width: 50px;
                height: 50px;
                margin-left: 38px;
            }

            &_text {
                color:  #FFF;
                text-align: center;

                font-family: "Montserrat-Regular";
                font-size: 36px;
                font-style: normal;
                font-weight: 400;
                line-height: normal;
                margin-right: 42px;
            }

        }

        &_text {
            color: rgba(19, 19, 19, 0.30);
            text-align: center;
            font-family: "Montserrat-Regular";
            font-size: 24px;
            font-style: normal;
            font-weight: 400;
            line-height: normal;
        }
    }

    &_col3 {
        height: 100vh;
        width: 100%;
        max-width: 473px;
        position: relative;

        &_pic {
            position: absolute;
            right: 0px;
            top: 50px;
            width: 100%;
            height: 154px;
        }
    }

    &_pic {
        width: 100%;
        height: 100%;
    }

    &_pic2 {
        width: 100%;
        height: 100%;
        border-radius: 100%;
    }
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}